{% extends 'app/base.html' %}{% block content %}
<div class="container">
  <h2>Sign Up</h2>
  <div class="row">
    <form method="post" novalidate>
      {% csrf_token %} {% include 'includes/bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
{% endblock %}
