{% extends 'imagaes/base.html' %}

{% block content %}

        <h1>My imgur</h1>

        {% for imagaes in all_imagaes %}
        

        <div class="image">
            <h2>{{ imagaes.title }}</h2>
            <img src="{{ imagaes.url }}" alt="">
        </div>
        {% endfor %}

{% endblock %}


