{% extends 'app/base.html' %} {% block content %} {% block extrahead %}
{{form.media}} {% endblock extrahead %}
<div class="container">
  {% if action == "create" %}
  <h2>Submit new image</h2>
  {% elif action == "update" %}
  <h2>Edit image</h2>
  {% endif %}

  <div class="row">
    <form method="post" novalidate>
      {% csrf_token %} {% include 'includes/bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
