{% extends 'app/base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="date">{{ image.pub_date }}</div>

      <div>
        {% include "includes/vote_buttons.html" with image=image vote=vote %}
      </div>

      <h2>{{ image.title }}</h2>
      <img class="app-fit" src="{{image.url}}" alt="" />
    </div>
    <div class="col-md-6">
      <h3>Description</h3>
      <p>{{ image.description|linebreaksbr }}</p>
      <h3>Comments</h3>
      {% for comment in comments %}
      <div class="border comment">
        <p class="red">Author: {{ comment.author }} ({{comment.created_at}})</p>
        <p class="secondary">{{ comment.text }}</p>
      </div>
      {% endfor %} {% if user.is_authenticated %}
      <h2>Post a comment</h2>
      {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
      {% endif %}

      <form
        action="{% url 'app:comment' image.id %}"
        method="post"
        class="border"
      >
        {% csrf_token %} {% include "includes/bs4_form.html" with form=form %}
        <button type="submit" class="btn btn-primary">Post Comment</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
