{% extends 'app/base.html' %} {% block content %}
<div class="row">
  <div class="col-md10">
    <p><a href="{% url 'app:create_image' %}">Submit new image</a></p>
  </div>
</div>
{% for image, vote in images_with_votes %}
<div class="row">
  <div class="col-md-2">
    <img class="app-fit" src="{{image.url}}" alt="" />
  </div>
  <div class="col-md-10">
    <div class="date">
      <p class="red">
        Published: {{ image.pub_date }}; Comments: {{ image.comment_set.count }}
        <a href="{% url 'app:edit_image' image.id %}">Edit</a> |
        <a href="#" id="delete_{{image.id}}">Delete</a>
        <form action="{% url 'app:delete_image' image.id %}" 
              method="post" 
              id="delete_form_{{ image.id }}" 
              class="hidden">
          {% csrf_token %}
        </form>
      <script>
        $(document).on('click', '#delete_{{image.id}}',function(){
          $('#delete_form_{{image.id}}').submit();
        });
      </script>
      </p>
    </div>
    {% include "includes/vote_buttons.html" with image=image vote=vote %}
    <h2><a href="{% url 'app:detail' image.id %}">{{ image.title }}</a></h2>
    <p>{{ image.description|linebreaksbr }}</p>
  </div>
</div>
{% endfor %} {% endblock %}
